@import './styles/normalize.css';
@import './styles/typography.css';

/* links */

.list {
  list-style: none;
  padding-left: 0;
}

.icons {
  cursor: pointer;
  margin: 0 1rem;
}

.icons:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.highligth--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-left: 2.7rem; */
}

.highligth--title {
  font-weight: 500;
  font-size: 32px;
  line-height: 35px;
  color: #31211b;
  /* margin-bottom: 1.1rem;
  margin-top: 4.9rem; */
}

.fh-vwp{
    min-height: 100vh;
}
.highligth {
  background-color: var(--color-secondary);
  width: 82px;
  height: 4px;
}

.grid {
  display: grid;
}



@media screen and (min-width: 1440px){
   .tab{
        position: absolute;
        right: 0;
        top:50%;
        transform: translateY(-50%, -50%);
        transform: rotate(90deg)
    }

    .highligth--title{
      margin: 0;
    }
}